.bg-blue {
    background: #289BDE !important;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
}

@media only screen and (max-width:576px) {
    .carousel-item h5 {
        font-size: 18px;
    }

    .carousel-item p {
        font-size: 10px;
    }

    .carousel-caption button {
        font-size: 12px;
        padding-top: 3px !important;
        padding-bottom: 4px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

}